@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700|Raleway");
*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 10px; }

body {
  line-height: 1.6; }

.container {
  overflow-x: hidden; }

body {
  color: #444b54; }

.heading-h1 {
  font-size: 4rem;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.heading-h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 2.4rem;
  color: #41ceb3;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 2rem; }

.heading-h2-right {
  text-align: right;
  margin-top: 3rem;
  padding: 0 2.5%; }

.heading-h2--white {
  font-family: 'Dosis', sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 12rem;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .heading-h2--white {
      margin-bottom: 5rem; } }

.heading-h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 2.4rem;
  color: #444b54;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 2rem; }

.heading-h4 {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  color: #444b54;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 3rem; }

.paragraphy {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 400; }

.paragraphy-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  font-weight: 400;
  text-align: right; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "dosis", sans-serif;
  color: #ffffff;
  background-color: #41ceb3;
  border: 2px solid #41ceb3;
  padding: 0.7rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.1s ease-in; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.7rem 1.3rem rgba(0, 0, 0, 0.4); }

.btn-white, .btn-white:link, .btn-white:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "dosis", sans-serif;
  color: #41ceb3;
  background-color: #ffffff;
  border: 2px solid #41ceb3;
  padding: 0.7rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.1s ease-in; }

.btn-white:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }

.btn-white:active, .btn-white:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.7rem 1.3rem rgba(0, 0, 0, 0.4); }

.form {
  display: block;
  width: 100%;
  position: relative;
  height: calc(auto + 100px); }

.input-box {
  display: block;
  position: relative;
  width: 95%;
  height: 4.5rem;
  margin: auto; }

.input-box input,
.input-box label,
.input-box textarea {
  position: absolute;
  width: 100%;
  height: 3.5rem;
  font-size: 1.4rem;
  font-family: "Dosis", sans-serif;
  color: #adc7cd;
  transition: all 0.6s;
  outline: none;
  border: none;
  background-color: #eee;
  border-radius: 0.5rem;
  letter-spacing: 2px; }

.input-box textarea {
  height: 10rem; }

.input-box label {
  width: auto;
  height: auto;
  transform: translate(1rem, 0.5rem);
  user-select: none; }

.input-box input:focus + label,
.input-box input:valid + label,
.input-box textarea:focus + label,
.input-box textarea:valid + label {
  transform: translate(0rem, -1.1rem) scale(0.8);
  background-color: transparent;
  color: #11967D; }

.input-box input:focus,
.input-box input:valid,
.input-box textarea:focus,
.input-box textarea:valid {
  border-bottom: 0.2rem solid #41ceb3;
  background-color: #eff; }

.input-box input:invalid:focus {
  color: tomato;
  border-bottom: 0.2rem solid tomato; }

input[type="submit"] {
  display: block;
  position: relative;
  margin-left: auto;
  margin-top: 7rem;
  margin-bottom: 3rem; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  padding: 3rem;
  z-index: 10;
  transition: all 300ms;
  box-sizing: border-box; }
  .navigation.--fixed {
    background-color: #41ceb3;
    position: fixed; }
  .navigation__logo {
    width: 14.6rem;
    margin-bottom: -15px;
    vertical-align: center; }
  .navigation__input {
    display: none;
    visibility: hidden;
    z-index: -999; }
  .navigation__list {
    list-style: none;
    display: flex; }
  .navigation__item {
    margin: 0 1.5rem;
    color: #ffffff; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Dosis", sans-serif;
    position: relative;
    margin-bottom: 0.2rem;
    letter-spacing: 0.2rem;
    display: inline-block;
    color: #444b54; }
    .navigation__link.--color, .navigation__link:link.--color, .navigation__link:visited.--color {
      color: #ffffff; }
  .navigation__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 1s;
    transform-origin: 0;
    background-color: #11967D; }
  .navigation__link:hover, .navigation__link:active {
    color: #11967D; }
    .navigation__link:hover::before, .navigation__link:active::before {
      visibility: visible;
      transform: scaleX(1); }

@media only screen and (max-width: 700px) {
  .navigation__label {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    right: 2rem;
    top: 2.8rem; }
  .navigation__span {
    width: 4rem;
    height: 0.3rem;
    display: inline-block;
    position: relative;
    z-index: 10;
    background-color: #444b54;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.3rem;
    transition: all 0.3s; }
    .navigation__span::before, .navigation__span::after {
      content: "";
      width: 4rem;
      height: 0.3rem;
      display: block;
      position: absolute;
      z-index: 10;
      background-color: #444b54;
      border-radius: 0.3rem;
      transition: all 0.3s; }
    .navigation__span::before {
      top: 10px; }
    .navigation__span::after {
      bottom: 10px; }
  .navigation__input:checked ~ .navigation__label .navigation__span {
    background-color: transparent; }
  .navigation__input:checked ~ .navigation__label .navigation__span:before {
    transform: rotate(-135deg);
    background-color: #ffffff;
    box-shadow: 0 0 0.4rem rgba(17, 150, 125, 0.9);
    top: 0; }
  .navigation__input:checked ~ .navigation__label .navigation__span:after {
    transform: rotate(135deg);
    background-color: #ffffff;
    box-shadow: 0 0 0.4rem rgba(17, 150, 125, 0.9);
    bottom: 0; }
  .navigation__input:checked ~ .navigation__list {
    transform: translateY(0); }
  .navigation__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.5s;
    transform: translateY(-100%);
    background-color: rgba(65, 206, 179, 0.9); }
  .navigation__item {
    margin: 0 1.5rem;
    text-align: center;
    padding-bottom: 2rem; }
    .navigation__item:first-child {
      padding-top: 5rem; }
    .navigation__item:last-child {
      padding-bottom: 4rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-size: 2.4rem;
    font-family: "Dosis", sans-serif;
    color: #ffffff;
    position: relative;
    margin-bottom: 0.2rem;
    letter-spacing: 0.2rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase; }
  .navigation__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 1s;
    transform-origin: 0;
    background-color: #11967D; }
  .navigation__link:hover, .navigation__link:active, .navigation__link:focus {
    color: #11967D; }
    .navigation__link:hover::before, .navigation__link:active::before, .navigation__link:focus::before {
      visibility: visible;
      transform: scaleX(1); } }

.header {
  background: linear-gradient(rgba(17, 150, 125, 0.15), rgba(17, 150, 125, 0.15)), url(../img/hero.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__text-box {
    text-align: center; }
  .header .scrollDown {
    position: absolute;
    bottom: 2rem;
    animation: scrollDown .8s infinite; }

@keyframes scrollDown {
  0% {
    transform: translateY(-0.4rem); }
  80% {
    transform: translateY(-0.2rem); }
  100% {
    transform: translateY(0); } }

.section-sobre {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(30rem, 45rem)) 1fr;
  padding: 7rem 0;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .section-sobre {
      grid-template-columns: 1fr; } }
  .section-sobre__box-text {
    grid-column: 2 / 3;
    margin-left: 20px;
    z-index: 1; }
    @media only screen and (max-width: 600px) {
      .section-sobre__box-text {
        padding: 0 10%;
        margin: auto; } }
  .section-sobre__img {
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; }
    @media only screen and (max-width: 600px) {
      .section-sobre__img {
        display: none;
        visibility: hidden; } }

.section-destaques {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(1fr 45rem)) 1fr;
  justify-items: center;
  padding: 5rem 0 0 0;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .section-destaques {
      grid-template-columns: 365px;
      justify-content: center; } }
  .section-destaques__box {
    grid-column: 3 / 4;
    align-self: center;
    padding-left: 5%;
    max-width: 45rem; }
    @media only screen and (max-width: 600px) {
      .section-destaques__box {
        grid-area: 1 / 1 / 2 / 2;
        margin: 0 10%;
        background-color: #ffffff;
        align-self: end;
        padding-left: 0; } }
  .section-destaques__img {
    grid-column: 2 / 3;
    max-width: 100%;
    align-self: end;
    justify-self: center;
    display: block; }
    @media only screen and (max-width: 600px) {
      .section-destaques__img {
        grid-area: 1 / 1 / 2 / 2;
        width: 32rem;
        height: 42rem; } }
  .section-destaques__box-text {
    display: none;
    width: 90%; }
    @media only screen and (max-width: 600px) {
      .section-destaques__box-text {
        width: 23rem;
        justify-self: center; } }
    .section-destaques__box-text .slide__number {
      display: block;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      margin: 3rem 0 1rem; }
      @media only screen and (max-width: 600px) {
        .section-destaques__box-text .slide__number {
          margin: 1.5rem 0 1rem; } }
  .section-destaques .next,
  .section-destaques .prev {
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: .5rem;
    user-select: none; }

.section-funcionalidades {
  background-color: #41ceb3;
  padding: 12rem 2rem; }
  .section-funcionalidades .wrapper-card {
    display: flex;
    max-width: 100rem;
    margin: auto;
    justify-content: space-evenly; }
    @media only screen and (max-width: 900px) {
      .section-funcionalidades .wrapper-card {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media only screen and (max-width: 600px) {
      .section-funcionalidades .wrapper-card {
        flex-flow: column;
        align-items: center; } }

.card {
  position: relative;
  width: 28rem;
  height: 25rem;
  perspective: 150rem;
  margin: 1rem; }
  .card__side {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    backface-visibility: hidden;
    transition: all .8s linear;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    top: 0;
    left: 0;
    cursor: pointer; }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: #ffffff; }
  .card__img {
    width: 6rem; }
  .card__text {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 80%; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.section-contato {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(max-content, 50rem)) 1fr;
  justify-items: center;
  align-items: center;
  padding: 7rem 0 3.5rem 0;
  justify-content: center;
  box-sizing: border-box; }
  .section-contato__download {
    grid-column: 2 / 3;
    padding: 5rem 0; }
    @media only screen and (max-width: 900px) {
      .section-contato__download {
        grid-column: 1 / -1;
        padding: 5rem 3rem; } }
  .section-contato__img {
    display: block;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 2rem; }
  .section-contato__box-btn {
    text-align: center;
    height: 7rem; }
    .section-contato__box-btn .btn-white img {
      transform: translateY(0.2rem); }
  .section-contato__form {
    grid-column: 3 / 4; }
    @media only screen and (max-width: 900px) {
      .section-contato__form {
        grid-column: 1 / -1;
        padding: 5rem 3rem; } }

.footer {
  box-sizing: border-box; }
  .footer-nav {
    background-color: #adc7cd;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 5rem 7%;
    align-items: center; }
    @media only screen and (max-width: 830px) {
      .footer-nav {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 5rem 2% 3rem; } }
    @media only screen and (max-width: 830px) {
      .footer-nav__redeSociais {
        text-align: center;
        margin-bottom: 3rem; } }
    .footer-nav__icon {
      padding-right: 1rem; }
      @media only screen and (max-width: 830px) {
        .footer-nav__icon {
          margin: 0 0.25rem;
          padding-right: 0; } }
      @media only screen and (max-width: 600px) {
        .footer-nav__icon {
          width: 3rem; } }
    .footer-nav p {
      text-align: right;
      vertical-align: middle; }
      @media only screen and (max-width: 830px) {
        .footer-nav p {
          text-align: center;
          width: auto;
          display: block; } }
    .footer-nav__contato--link, .footer-nav__contato--link:link, .footer-nav__contato--link:visited {
      font-size: 1.3rem;
      text-decoration: none;
      color: #444b54;
      margin-top: 2rem;
      font-family: "Raleway", sans-serif;
      text-align: right;
      letter-spacing: 0.2rem;
      display: inline-block;
      transition: all 2s;
      position: relative; }
      @media only screen and (max-width: 830px) {
        .footer-nav__contato--link, .footer-nav__contato--link:link, .footer-nav__contato--link:visited {
          text-align: center; } }
    .footer-nav__contato--link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2rem;
      bottom: 0;
      left: 0;
      visibility: hidden;
      transform: scale(0);
      transition: all 1s;
      transform-origin: 0 0; }
    .footer-nav__contato--link:hover, .footer-nav__contato--link:active {
      color: #11967D; }
      .footer-nav__contato--link:hover::before, .footer-nav__contato--link:active::before {
        visibility: visible;
        transform: scale(1);
        background-color: #11967D; }
  .footer-copyright {
    background-color: #11967D;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-copyright > p {
      padding: 1rem;
      font-size: 1.4rem;
      font-family: 'Raleway', sans-serif;
      color: #fff;
      text-align: center;
      line-height: 2;
      vertical-align: middle; }
    .footer-copyright .logo {
      width: 8rem;
      vertical-align: middle; }
    .footer-copyright .link, .footer-copyright .link:link, .footer-copyright .link:visited {
      font-weight: 700;
      text-decoration: none;
      color: #ffffff;
      margin-top: 2rem;
      letter-spacing: 0.2rem;
      display: inline-block;
      transition: all 2s;
      position: relative; }
    .footer-copyright .link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2rem;
      bottom: 0;
      left: 0;
      visibility: hidden;
      transform: scale(0);
      transition: all 1s;
      transform-origin: 0 0; }
    .footer-copyright .link:hover, .footer-copyright .link:active {
      color: #ffffff; }
      .footer-copyright .link:hover::before, .footer-copyright .link:active::before {
        visibility: visible;
        transform: scale(1);
        background-color: #ffffff; }

[data-anime] {
  opacity: 0;
  transition: all .3s;
  overflow: hidden; }

[data-anime="left"] {
  transform: translateX(-5rem); }

[data-anime="right"] {
  transform: translateX(5rem); }

[data-anime].animate {
  opacity: 1;
  transform: translateY(0); }
