[data-anime]{
    opacity: 0;
    transition: all .3s;
    overflow: hidden;
}

[data-anime="left"]{
    transform: translateX(-5rem);
}

[data-anime="right"]{
    transform: translateX(5rem);
}

[data-anime].animate{
    opacity: 1;
    transform: translateY(0);
}