.section-contato{
    display: grid;    
    grid-template-columns: 1fr repeat(2, minmax(max-content, 50rem)) 1fr;  
    justify-items: center;
    align-items: center;
    padding: 7rem 0 3.5rem 0;
    justify-content: center;  
    box-sizing: border-box;  

    &__download{
        grid-column: 2 / 3;
        padding: 5rem 0;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 5rem 3rem;
        }
    }

    &__img{
        display: block;
        max-width: 25rem;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    &__box-btn{
        text-align: center;
        height: 7rem;

        svg {
            width: 2rem;
            height: 2rem;
            transform: translateY(.4rem);
            fill: #fff;
        }
        .btn-white > svg{
            fill: $color-green-ligth;
        }
    }

    &__form{
        grid-column: 3 / 4;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 5rem 3rem;
        }
    }
}

