.footer {
  box-sizing: border-box;
  &-nav {
    background-color: $color-gray-light;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 5rem 7%;
    align-items: center;

    @media only screen and (max-width: 830px) {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 5rem 2% 3rem;
    }

    &__redeSociais {
      @media only screen and (max-width: 830px) {
        text-align: center;
        margin-bottom: 3rem;
      }
    }

    &__icon {
      & > svg {
        width: 4rem;
        height: 4rem;
        fill: $color-gray;
      }
        
      padding-right: 1rem;

      @media only screen and (max-width: 830px) {
        margin: 0 0.25rem;
        padding-right: 0;
      }

      @media only screen and (max-width: $bp-small) {
        width: 3rem;
      }
    }

    p {
      text-align: right;
      vertical-align: middle;

      @media only screen and (max-width: 830px) {
        text-align: center;
        width: auto;
        display: block;
      }
    }

    &__contato--link {
      &,
      &:link,
      &:visited {
        font-size: 1.3rem;
        text-decoration: none;
        color: $color-gray;
        margin-top: 2rem;
        font-family: "Raleway", sans-serif;
        text-align: right;
        letter-spacing: 0.2rem;
        display: inline-block;
        transition: all 2s;
        position: relative;

        @media only screen and (max-width: 830px) {
          text-align: center;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        bottom: 0;
        left: 0;
        visibility: hidden;
        transform: scale(0);
        transition: all 1s;
        transform-origin: 0 0;
      }

      &:hover,
      &:active {
        color: $color-green;

        &::before {
          visibility: visible;
          transform: scale(1);
          background-color: $color-green;
        }
      }
    }
  }

  &-copyright {
    background-color: $color-green;
    display: flex;
    justify-content: center;
    align-items: center;
   

    & > p { 
      padding: 1rem;
      font-size: 1.4rem;
      font-family: 'Raleway', sans-serif;
      color: #fff;
      text-align: center;
      line-height: 2;
      vertical-align: middle;
    }

    & .logo {
      width: 8rem;
      height: 2rem;
      vertical-align: middle;
    }

    & .link {
      &,
      &:link,
      &:visited {
        font-weight: 700;        
        text-decoration: none;
        color: $color-white;
        margin-top: 2rem;
        letter-spacing: 0.2rem;
        display: inline-block;
        transition: all 2s;
        position: relative;
      }   

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        bottom: 0;
        left: 0;
        visibility: hidden;
        transform: scale(0);
        transition: all 1s;
        transform-origin: 0 0;
      }

      &:hover,
      &:active {
        color: $color-white;

        &::before {
          visibility: visible;
          transform: scale(1);
          background-color: $color-white;
        }
      }
    }
  }
}
