.header {
  background: linear-gradient(
      rgba(17, 150, 125, 0.15),
      rgba(17, 150, 125, 0.15)
    ),
    url(../img/hero.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text-box {
    text-align: center;
  }

  .scrollDown {
    position: absolute;
    bottom: 2rem;
    animation: scrollDown 0.8s infinite;

    & > svg {
      fill: $color-gray;
      width: 3rem;
      height: 3rem;
    }
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-0.4rem);
  }
  80% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
